@charset "utf-8";

/* CSS Document */
html,
html * {
    margin: 0;
}

body {
    background-image: url("img/aobackground.png");
}

h1 {
    font-size: 5.5em;
    font-family: "Squada One", sans-serif;
}

small {
    font-size: 0.5em;
}

.linkBox {
    background-color: white;
    width: 40em;
    text-align: center;
    border-radius: 2em;
    padding: 1.5em;
    margin: auto;
}

ul {
    list-style-type: none;
    margin: 0;
}

li {
    margin: 0;
    text-align: center;
    padding: 0.25em;
}

a {
    color: white;
    border-radius: 1.5em;
    width: 8em;
    text-decoration: none;
    padding: .5em 2em;
    font-family: "Roboto", sans;
    font-size: 1.5em;
    display: inline-block;
    background-color: #4c6ead;
    vertical-align: baseline;
}

a img {
    vertical-align: baseline;
    size: 5px;
}